In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.cm as cm

In [2]:
dir_ = '497-S23/Chicago_volunteer_sequential.csv'
df = pd.read_csv(dir_)

In [3]:
df.head(5)

,Date Sampled,Address,1st Draw,2nd Draw,3rd Draw,4th Draw,5th Draw,6th Draw,7th Draw,8th Draw,9th Draw,10th Draw,11th Draw,3 Minute,5 Minute,7 Minute,10 Minute,15 Minute,20 Minute
0,9/4/2019,100XX S Bell Ave,1.52,1.37,1.59,2.53,2.44,1.90,2.45,2.92,3.75,3.86,4.35,1.09,NaN,NaN,NaN,NaN,NaN
1,7/16/2016,100XX S Calhoun Ave,3.70,2.62,8.83,13.8,13.2,13.6,12.3,11.8,10.8,8.01,2.75,2.8,NaN,NaN,NaN,NaN,NaN
2,12/17/2019,100XX S Calumet Ave,4.02,5.35,6.97,6.55,17.70,16.60,12.10,11.60,12.00,11.10,8.72,3.83,NaN,NaN,NaN,NaN,NaN
3,7/14/2021,100XX S Carpenter St,14.00,11.00,8.83,8.12,8.69,7.14,11.00,7.51,8.50,8.01,NaN,3.25,2.54,NaN,NaN,NaN,NaN
4,12/14/2019,100XX S Carpenter St,9.54,7.31,6.95,5.63,4.91,7.15,12.40,13.10,10.10,9.54,7.23,3.08,NaN,NaN,NaN,NaN,NaN

In [10]:
df[df['5 Minute']!=np.nan]

,Date Sampled,Address,1st Draw,2nd Draw,3rd Draw,4th Draw,5th Draw,6th Draw,7th Draw,8th Draw,9th Draw,10th Draw,11th Draw,3 Minute,5 Minute,7 Minute,10 Minute,15 Minute,20 Minute
0,9/4/2019,100XX S Bell Ave,1.52,1.37,1.59,2.53,2.44,1.90,2.45,2.92,3.75,3.86,4.35,1.09,NaN,NaN,NaN,NaN,NaN
1,7/16/2016,100XX S Calhoun Ave,3.70,2.62,8.83,13.8,13.2,13.6,12.3,11.8,10.8,8.01,2.75,2.8,NaN,NaN,NaN,NaN,NaN
2,12/17/2019,100XX S Calumet Ave,4.02,5.35,6.97,6.55,17.70,16.60,12.10,11.60,12.00,11.10,8.72,3.83,NaN,NaN,NaN,NaN,NaN
3,7/14/2021,100XX S Carpenter St,14.00,11.00,8.83,8.12,8.69,7.14,11.00,7.51,8.50,8.01,NaN,3.25,2.54,NaN,NaN,NaN,NaN
4,12/14/2019,100XX S Carpenter St,9.54,7.31,6.95,5.63,4.91,7.15,12.40,13.10,10.10,9.54,7.23,3.08,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803,1/26/2022,9XX W Gunnison St,6.20,7.00,7.20,8.90,9.80,9.70,9.40,9.40,12.00,22.00,18.00,2.50,2.00,2.10,1.90,NaN,NaN
1804,1/19/2019,XX S Oakley,2.01,2.38,3.07,3.74,3.94,4.15,4.08,4.43,4.47,4.63,1.01,<1,NaN,NaN,NaN,NaN,NaN
1805,11/22/2021,XX W 78Th St,11.00,11.40,8.06,8.49,21.40,28.60,29.30,19.70,18.10,17.20,7.06,1.67,NaN,NaN,NaN,NaN,NaN
1806,10/28/2021,XX W 81St St,4.41,5.43,4.96,3.87,4.80,4.93,9.11,8.83,10.40,12.20,2.37,1.16,NaN,NaN,NaN,NaN,NaN
1807,6/18/2019,XX W Burton Pl,5.79,5.23,5.38,5.38,5.16,5.3,6.11,7.97,8.74,9.27,6.71,9.46,9.72,3.19,2.38,NaN,NaN